#maincomparecontent
  - if params["view"] == "common_followers"
    = render :partial => "common_followers"
  - elsif params["view"] == "friends"
    = render :partial => "common_friends"
  - elsif params["view"] == "common_mentions"
    = render :partial => "common_mentions"
  - elsif params["view"] == "common_hashtags"
    = render :partial => "common_hashtags"
  - else
    = render :partial => "common_friends"    

#sidebar
  .comparesection
    .statblock.header
      %div{:style=>"width:48px;height:48px;padding-bottom:22px"}
      %p.section Stats
      %p Name
      %p Followers
      %p Following
      %p retweets
      %p mentions
      %p Tweets / day

    - @twit_users.each do |user|
      .statblock
        %img.profile{:src=>"#{user.profile_image_url}"}
        %p &nbsp;
        %p= user.screen_name  
        %p= user.followers
        %p= user.friends
        %p= @tweets[user.screen_name].sum { |x| x.retweet_count} rescue 0
        - # mentions are when you use the @user syntax in the tweet.
        %p= @tweets[user.screen_name].map { |x| x.user_mentions.map { |x| x.id }}.flatten.compact.length rescue 0
        %p= @tweet_stats[user.screen_name].map { |k,v| v}.sum / @tweet_stats[user.screen_name].length rescue 0

  .clear
  .comparesection
    .statblock.header
      %p.section Common
      %p Followers
      %p Following
      %p Mentions
      %p hashtags
    .statblock
      %p &nbsp;
      - # yes yes could use the foo_url methods
      %p
        %a{:href=>"/compare/data?user1=#{params['user1']}&user2=#{params['user2']}&view=common_followers",:class=>"complink"}
          %span= @common_followers.length
      %p
        %a{:href=>"/compare/data?user1=#{params['user1']}&user2=#{params['user2']}&view=common_friends",:class=>"complink"}        
          %span= @common_friends.length
      %p
        %a{:href=>"/compare/data?user1=#{params['user1']}&user2=#{params['user2']}&view=common_mentions",:class=>"complink"}        
          %span= @common_mentions.length
      %p
        %a{:href=>"/compare/data?user1=#{params['user1']}&user2=#{params['user2']}&view=common_hashtags",:class=>"complink"}        
          %span= @common_hashtags.length

